In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
#names_df = pd.read_csv("Resources/yob1978.txt", delimiter =",", names=["Name", "Gender", "YearOfBirth"],dtype={"Name":"str","Gender":"str", "YearOfBirth":np.int32})

start_year=1881
end_year=2019
yearlist= list(range(start_year,end_year,1))
#print(yearlist)
year_df=pd.DataFrame(yearlist)
year_df["dummy_col"]=1
year_df.set_index("dummy_col", inplace=True)
filename_list=[]
for file in os.listdir("Resources"):
    if file.endswith(".txt") and int(file[3:7]) >= start_year:
        df =  pd.read_csv("Resources/"+file, delimiter =",", names=["Name", "Gender", "CountOfNames"],dtype={"Name":"str","Gender":"str", "CountOfNames":np.int32})
        df["Year"] = int(file[3:7])
        
        df = df[["Year", "Name", "Gender", "CountOfNames"]]
        filename_list.append(df)
        
names_df = pd.concat(filename_list, axis=0, ignore_index=True)
names_df.sort_values(by=["Name","Gender","Year"], inplace=True)
unique_names_list = names_df.drop_duplicates(subset=["Name", "Gender"])[["Name", "Gender"]]
unique_names_list["dummy_col"]=1
unique_names_list.set_index("dummy_col", inplace=True)

final_data_set = unique_names_list.join(year_df,on="dummy_col",how = "outer")
final_data_set.count()
final_data_set.tail(10)

            Name Gender     0
dummy_col
1          Zzyzx      M  2009
1          Zzyzx      M  2010
1          Zzyzx      M  2011
1          Zzyzx      M  2012
1          Zzyzx      M  2013
1          Zzyzx      M  2014
1          Zzyzx      M  2015
1          Zzyzx      M  2016
1          Zzyzx      M  2017
1          Zzyzx      M  2018

In [4]:
df = final_data_set.rename(columns={0:"Year"})
df.groupby(["Name","Gender"]).count()

                    Year
Name        Gender
Aaban       M        138
Aabha       F        138
Aabid       M        138
Aabidah     F        138
Aabir       M        138
Aabriella   F        138
Aada        F        138
Aadam       M        138
Aadan       M        138
Aadarsh     M        138
Aadaya      F        138
Aaden       F        138
            M        138
Aadesh      M        138
Aadhav      M        138
Aadhavan    M        138
Aadhi       M        138
Aadhira     F        138
Aadhiran    M        138
Aadhvik     M        138
Aadhvika    F        138
Aadhya      F        138
Aadhyan     M        138
Aadhyareddy F        138
Aadhyasri   F        138
Aadi        F        138
            M        138
Aadian      M        138
Aadil       M        138
Aadilynn    F        138
...                  ...
Zyriah      F        138
Zyrian      M        138
Zyriana     F        138
Zyrianna    F        138
Zyrie       F        138
            M        138
Zyriel      F        138
Zyrielle    F        138
Zyrihanna   F        138
Zyrin       M        138
Zyrion      M        138
Zyriyah     F        138
Zyron       M        138
Zyrus       M        138
Zysean      M        138
Zyshaun     M        138
Zyshawn     M        138
Zyshon      M        138
Zyshonne    M        138
Zytaevius   M        138
Zytaveon    M        138
Zytavion    M        138
Zytavious   M        138
Zyus        M        138
Zyva        F        138
Zyvion      M        138
Zyvon       M        138
Zyyanna     F        138
Zyyon       M        138
Zzyzx       M        138

[109172 rows x 1 columns]

In [6]:
df.loc[df["Name"]=="Aaban"]

            Name Gender  Year
dummy_col
1          Aaban      M  1881
1          Aaban      M  1882
1          Aaban      M  1883
1          Aaban      M  1884
1          Aaban      M  1885
1          Aaban      M  1886
1          Aaban      M  1887
1          Aaban      M  1888
1          Aaban      M  1889
1          Aaban      M  1890
1          Aaban      M  1891
1          Aaban      M  1892
1          Aaban      M  1893
1          Aaban      M  1894
1          Aaban      M  1895
1          Aaban      M  1896
1          Aaban      M  1897
1          Aaban      M  1898
1          Aaban      M  1899
1          Aaban      M  1900
1          Aaban      M  1901
1          Aaban      M  1902
1          Aaban      M  1903
1          Aaban      M  1904
1          Aaban      M  1905
1          Aaban      M  1906
1          Aaban      M  1907
1          Aaban      M  1908
1          Aaban      M  1909
1          Aaban      M  1910
...          ...    ...   ...
1          Aaban      M  1989
1          Aaban      M  1990
1          Aaban      M  1991
1          Aaban      M  1992
1          Aaban      M  1993
1          Aaban      M  1994
1          Aaban      M  1995
1          Aaban      M  1996
1          Aaban      M  1997
1          Aaban      M  1998
1          Aaban      M  1999
1          Aaban      M  2000
1          Aaban      M  2001
1          Aaban      M  2002
1          Aaban      M  2003
1          Aaban      M  2004
1          Aaban      M  2005
1          Aaban      M  2006
1          Aaban      M  2007
1          Aaban      M  2008
1          Aaban      M  2009
1          Aaban      M  2010
1          Aaban      M  2011
1          Aaban      M  2012
1          Aaban      M  2013
1          Aaban      M  2014
1          Aaban      M  2015
1          Aaban      M  2016
1          Aaban      M  2017
1          Aaban      M  2018

[138 rows x 3 columns]

In [ ]:
unique_names_list

In [ ]:
names_df.head()