In [24]:
import requests
import json
import pprint
import pandas as pd
import numpy as np
import csv
import os

In [25]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=trilogy"

In [26]:
# response = requests.get(url + "Name" + api_key)
# data = response.json()
# pprint(data)
fp = os.path.join("Resources","MovieList.csv")
print(fp)

Resources\MovieList.csv

In [126]:
def NameSplit(names):
    firstNames = []
    #print(names)
    for name in names.split(", "):
        #print(name)
        firstNames.append(name.split()[0])
        pass
    if(len(firstNames)<=1):return(np.nan)
    return(firstNames)

In [119]:
df = pd.DataFrame(columns = ['Title','Year','Actors','Characters'])

with open(fp,newline="")as csvf:
    csvr = csv.reader(csvf,delimiter=',')
    next(csvr)
    i=0
    for row in csvr:
        i=i+1
        name = ""
        name = row[1]
        #print(name)
        res = requests.get(url+name+api_key).json()
        #print(json.dumps(res,indent=4,sort_keys=True))
        
        year = row[0]
        try:
            actors = NameSplit(str(res['Actors']))
        except:
            actors = np.nan
        
        df = df.append({"Title":name,'Year':year,'Actors':actors},ignore_index=True)
        #if(i>2):break
df.dropna(thresh=3,inplace=True)
df.head()

                   Title  Year                             Actors Characters
0  The Birth of a Nation  1915      [Henry, Lillian, Mae, Miriam]        NaN
2              Cleopatra  1917  [Elizabeth, Richard, Rex, Pamela]        NaN
3                 Mickey  1918        [Mabel, George, Laura, Lew]        NaN
4        The Miracle Man  1919         [Lon, Betty, Joseph, J.M.]        NaN
5          Way Down East  1920   [Lillian, Richard, Mrs., Lowell]        NaN

In [120]:
df['Title'].count()

143

In [118]:
#df['Actors']

In [122]:
nameList=[]
for value in df['Actors']:
    for name in value:
        if name not in nameList: nameList.append(name)

In [123]:
print(len(nameList))

318

In [129]:
#df['Year']

In [130]:
#print(json.dumps(requests.get(url+"Harry Potter and the Deathly Hallows Part 2"+api_key).json(),indent=4,sort_keys=True))