In [1]:
import requests
import json
import pprint
import pandas as pd
import numpy as np
import csv
import os

In [2]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=trilogy"

In [3]:
# response = requests.get(url + "Name" + api_key)
# data = response.json()
# pprint(data)
fp = os.path.join("Resources","MovieList.csv")
print(fp)

Resources\MovieList.csv

In [35]:
def NameSplit(names):
    firstNames = []
    #print(names)
    for name in names.split(", "):
        #print(name)
        firstNames.append(name.split()[0])
        pass
    if((len(firstNames)<=1) & (len(firstNames[0])<=3)):return(np.nan)
    #print(len(firstNames[0]))
    return(firstNames)

In [36]:
df = pd.DataFrame(columns = ['Title','Year','Actors','Characters'])

with open(fp,newline="")as csvf:
    csvr = csv.reader(csvf,delimiter=',')
    next(csvr)
    i=0
    for row in csvr:
        i=i+1
        name = ""
        name = row[1]
        #print(name)
        res = requests.get(url+name+api_key).json()
        #print(json.dumps(res,indent=4,sort_keys=True))
        try:
            char = NameSplit(row[4])
        except:
            char = np.nan
        year = row[0]
        try:
            actors = NameSplit(str(res['Actors']))
        except:
            actors = np.nan
        
        df = df.append({"Title":name,'Year':year,'Actors':actors,'Characters':char},ignore_index=True)
        #if(i>2):break
df.dropna(thresh=3,inplace=True)
df.head()

                   Title  Year                             Actors   Characters
0  The Birth of a Nation  1915      [Henry, Lillian, Mae, Miriam]          NaN
2              Cleopatra  1917  [Elizabeth, Richard, Rex, Pamela]  [Cleopatra]
3                 Mickey  1918        [Mabel, George, Laura, Lew]     [Mickey]
4        The Miracle Man  1919         [Lon, Betty, Joseph, J.M.]          NaN
5          Way Down East  1920   [Lillian, Richard, Mrs., Lowell]          NaN

In [37]:
df['Title'].count()

153

In [14]:
#df['Actors']

In [41]:
nameList=[]
for value in df['Actors']:
    try:
        for name in value:
            if name not in nameList: nameList.append(name)
    except:
        pass
for value in df['Characters']:
    try:
        for name in value:
            if name not in nameList: nameList.append(name)
    except:
        pass

In [42]:
print(len(nameList))

454

In [10]:
#df['Year']

In [11]:
#print(json.dumps(requests.get(url+"Harry Potter and the Deathly Hallows Part 2"+api_key).json(),indent=4,sort_keys=True))